@import blueprint
@import blueprint/reset
@import blueprint/scaffolding
@import compass/utilities/lists
@import compass/css3/border-radius
@import fancy-buttons

@import partials/base
@import partials/login_form_side



$header-color: #006699

// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint

// But Compass recommends that you scope your blueprint styles
// So that you can better control what pages use blueprint
// when stylesheets are concatenated together.
+blueprint-scaffolding("body.bp")
body.bp
  +blueprint-typography(true)
  +blueprint-utilities
  +blueprint-debug
  +blueprint-interaction

  h1
    color: $header-color
    font:
      family: $header-font-family
      size: 2.2em
  h2
    color: $header-color
    font:
      family: $header-font-family
      size: 1.6em
    margin: 0
  h3
    font-family: $header-font-family
  h4
    font-family: $header-font-family
    margin: 0
  h5
    font-family: $header-font-family
    margin: 0.5em
  sup
    font-size: 10px

  .undecorated
    text-decoration: none
  .bold
    font-weight: bold
  .serif
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif

form.bp
  +blueprint-form-layout
  +blueprint-form-borders

  label
    font-size: 0.9em
    display: block

  .announce
    textarea
      height: 100px

  .submit
    +fancy-button(#59ac03)
    text-shadow: #326400 0px -1px 0px
    font-weight: normal
    border: solid 1px #54a800

body.two-col
  #container
    +container
    //+showgrid('/media/static/img/grid.png')

  #header, #footer
    +column($blueprint-grid-columns)

  #header
    .actions
      +inline-block-list
      position: absolute
      top: 0
      +prepend(20)

  #content
    +column(20, true)
    .profile
      .info
        span.attr-name
          +column(20, true)
          display: block
          +float('left')

  #sidebar
    +float('left')
    +column(4)

    .navigation
      font-size: 0.9em
      ul
        list-style: none
        margin: 0
        padding: 0
        li ul li
          margin-left: 0.5em

