{% extends "layout.html" %}
{% load helpers thumbnail %}
{% block title %}Редактирование профиля {{ owner }}{% endblock %}
{% block content %}
<h2>{{ owner.get_profile.name }}, редактирование профиля</h2>
<form action="{% url edit_profile id=owner.id %}" method="POST" enctype="multipart/form-data" class="bp">
  {% csrf_token %}
  <p {% if profile_form.avatar.errors %}class="error"{% endif %}>
    {{ profile_form.avatar.label_tag }}
      {% thumbnail owner.get_profile.avatar 100x100 as avatar %}
      <img src="{{ avatar }}" alt="{{ owner.get_profile.name }}" class="avatar"/>
    {% endthumbnail %}
  </p>
  <p>
    {{ profile_form.avatar }}
  </p>
  <p {% if user_form.first_name.errors %}class="error"{% endif %}>
    {{ user_form.first_name.label_tag }}
    {{ user_form.first_name }}
  </p>
  <p {% if user_form.last_name.errors %}class="error"{% endif %} class="announce">
    {{ user_form.last_name.label_tag }}
    {{ user_form.last_name }}
  </p>
  <p {% if profile_form.description.errors %}class="error"{% endif %} class="announce">
    {{ profile_form.description.label_tag }}
    {{ profile_form.description }}
  </p>
  <p>{% submit_tag 'сохранить' %}</p>
</form>
{% endblock content %}

