{% extends "layout.html" %}
{% block title %}Сброс пароля{% endblock %}

{% block content %}

{% if validlink %}

<h1>Введите новый пароль</h1>
<p>Пожалуйста, проделайте ввод пароля дважды, чтобы помочь нам убедиться в корректности нового пароля.</p>

<form action="" method="post">{% csrf_token %}
{{ form.as_p }}
<p><input type="submit" value="Изменить мой пароль" /></p>
</form>

{% else %}

<h1>Произошла ошибка при попытке восстановить Ваш пароль</h1>
<p>Ссылка для восстановления пароля, по которой вы сюда попали не действительна. Возможно это случилось потому, что она уже была однажды использована. Если вы на 101% уверены в правильности своих действий, то повторите <a href="{% url password_reset %}" title="запрос восстановления пароля">запрос восстановления пароля</a> еще раз.</p>

{% endif %}

{% endblock %}

