{% extends "layout.html" %}
{% load thumbnail %}
{% block title %}Профиль пользователя {{ owner }}{% endblock %}
{% block content %}
<div class="profile">
  {% if owner.get_profile.avatar %}
    {% thumbnail owner.get_profile.avatar 100x100 as avatar %}
    <img src="{{ avatar }}" alt="{{ owner.get_profile.name }}" class="avatar"/>
  {% endif %}
  <h2>
    {{ owner.get_profile.name }}
    {% if user == owner or user.is_superuser %}
    <sup>
      <a href="{% url edit_profile id=user.id %}">Редактировать</a>?
    </sup>
    {% endif %}
  </h2>
  <dl>
    <dt>Имя:</dt>
    <dd>{{ owner.first_name }} {{ owner.last_name }}</dd>
  </dl>
</div>
{% endblock content %}

