{% extends "layout.html" %}
{% load thumbnail %}

{% block script %}
{{ block.super }}
<script type='text/javascript'>
    function cloneMore(selector, type) {
        var newElement = $(selector).clone(true);
        var total = $('#id_' + type + '-TOTAL_FORMS').val();
        newElement.find(':input').each(function() {
            var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
            var id = 'id_' + name;
            $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
        });
        newElement.find('label').each(function() {
            var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
            $(this).attr('for', newFor);
        });
        total++;
        $('#id_' + type + '-TOTAL_FORMS').val(total);
        $(selector).after(newElement);
    }

    $(document).ready(function() {
        $('#upload form p').css('display','inline').last().css('display','block');
        $('#upload form :input[id$="-description"]').parent().css('display','block').hide()
            .after('<a href="javascript:void(0);" class="commentToggle">Комментарий</a>&nbsp;' + 
                '<a href="javascript:void(0);" class="uploadMore">Добавить еще</a>');

        $('.commentToggle').click( function() {
            if ($(this).hasClass('opened')) {
                $(this).removeClass('opened').text('Комментарий').prev().hide();
            } else {
                $(this).addClass('opened').text('Скрыть').prev().show();
            }
            });

        $('.uploadMore').click( function() {
            cloneMore('#upload .photo:last', '{{ photo_formset.prefix }}');
            });

        $('#upload :checkbox[name$="-is_cover"]').change( function() {
            $('#upload :checkbox[name$="-is_cover"]').attr('checked', false);
            $(this).attr('checked', true);
            });
        });
</script>
{% endblock script %}

{% block content %}
<div class="profile">
    {% include "profiles/dashboard.html" %}
    {% with album.photos.all as photos %}
        {% if photos.count %}
            {% for photo in photos %}
            <div class='photo' style='clear:left' >
                {% thumbnail photo.photo "100x100" as img %}
                <img src="{{ img.url }}" alt="{{ img.url }}" style='float:left'
                    height="{{ img.height}}" width={{ img.width }}" />
                {% endthumbnail %}
                <div class='info'>
                    <p>{{ photo.description }}</p>
                    {% if request.user == owner %}
                        <a href='javascript:void(0);'>Сделать обложкой</a>
                    {% endif %}
                </div>
                {% empty %}
            </div>
            {% endfor %}
        {% else %}
            <p>В альбоме еще нет фотографий</p>
        {% endif %}
    {% endwith %}
    </div>

    {% if request.user == owner %}
    <div id='upload' style='clear:both'>
        <p>Вы можете добавить фотографию</p>
    <form action='.' method='POST' enctype="multipart/form-data">
    {{ photo_formset.management_form }}
    {% for photo_form in photo_formset.forms %}
        <div class='photo'>
            {{ photo_form.as_p }}
            {% csrf_token %}
        </div>
    {% endfor %}
        <p><input type='submit' value='Добавить фото' /></p>
    </form>
    </div>
    {% endif %}
</div>
{% endblock content %}
