{% extends "layout.html" %}
{% load thumbnail %}
{% block title %}Профиль пользователя {{ owner }}{% endblock %}
{% block content %}
<div class="profile">
  {% include "profiles/dashboard.html" %}
  <div class="info">
    <p>С нами с {{ owner.date_joined|date:"d.m.Y" }}</p>
    <span class="attr-name">О себе:{% if user.id == owner.id %} <a href="#">edit</a>{% endif %}</span>
      {% if owner.get_profile.summary %}
        <p>{{ owner.get_profile.summary }}</p>
      {% else %}
        <p><em>информацию о себе еще предстоит заполнить</em></p>
      {% endif %}
  {% for attr in owner.get_profile.attributes.all %}
      <span class="attr-name">{{ attr.name }}{% if user.id == owner.id %} <a href="#">edit</a>{% endif %}</span>
      {% if attr.value %}
      <p>{{ attr.value }}</p>
      {% else %}
      <p><em>{{ attr.empty_text }}</em></p>
      {% endif %}
  {% endfor %}
  </div>
</div>
{% endblock content %}

