{% extends "layout.html" %}
{% load thumbnail %}
{% block title %}Профиль пользователя {{ owner }}{% endblock %}
{% block content %}
<script type="text/javascript">
  var Profile;
  (function($){
    Profile = {

      toggleEdit: function(id, url) {
        $.getJSON(url, function(data, textStatus){
          if (textStatus == 'success') {
            $('#text_'+id).html(data.html);
          }
        });
      },

      toggleSave: function(id) {
        var form = $('#form_'+id);
        $.post($(form).attr('action'),$(form).serialize(),function(data, textStatus) {
          if (textStatus == 'success') {
            $('#text_'+id).html(data.html);
          }
        }, 'json');
      }

    };
  })(jQuery);
</script>
<div class="profile">
  {% include "profiles/dashboard.html" %}
  <div class="info">
    <p>С нами с {{ owner.date_joined|date:"d.m.Y" }}</p>
    <span class="attr-name">О себе:{% if user.id == owner.id %} <a href="#">edit</a>{% endif %}</span>
      {% if owner.get_profile.summary %}
        <p>{{ owner.get_profile.summary }}</p>
      {% else %}
        <p><em>информацию о себе еще предстоит заполнить</em></p>
      {% endif %}
  {% for attr in owner.get_profile.attributes.all %}
      <span class="attr-name">{{ attr.name }}
          {% if user.id == owner.id %}
              <a href="#" onclick="Profile.toggleEdit('{{ attr.id }}','{% url profile_attribute attr_id=attr.id %}'); return false;">edit</a>
          {% endif %}
      </span>
      {% if attr.value %}
      <p id="text_{{ attr.id }}">{{ attr.value }}</p>
      {% else %}
      <p id="text_{{ attr.id }}" class="empty"><em>{{ attr.empty_text }}</em></p>
      {% endif %}
  {% endfor %}
  </div>
</div>
{% endblock content %}

