{% load markup %}
<span class="info">Пишет {{ post.author.username }}, {{ post.created_at|date:"d.m.Y" }} в {{ post.created_at|date:"H:i" }}</span>
<div class="content serif">
  {% if full_text %}
    {% if post.announce %}{{ post.announce|textile }}{% endif %}
    {{ post.content|textile }}
  {% else %}
    {% if post.announce %}
      {{ post.announce|textile|truncatewords_html:"50" }}
    {% else %}
      {{ post.content|textile|truncatewords_html:"50" }}
    {% endif %}
  {% endif %}
</div>

