{% extends "layout.html" %}
{% block title %}{{ post.name }}::{{ blog.name }}{% endblock title %}
{% block content %}
<h2>
  <a href="{% url community id=post.blog.community.id %}">{{ post.blog.community.name }}</a>&nbsp;&rarr;
  <a href="{% url blog id=post.blog.id %}">{{ post.blog.name }}</a>
</h2>
<div class="post">
  <h4>{{ post.name }}</h4>
  {% with "1" as full_text %}
  {% include "post/_content.html" %}
  {% endwith %}
</div>
{% endblock content %}
{% block sidebar %}
<ul class="no-list-style">
  {% if user.is_authenticated %}
  <li><a href="{% url new_post blog_id=post.blog.id %}">Написать в блог</a></li>
  {% endif %}
</ul>
{% endblock sidebar %}

