{% extends "layout.html" %}
{% block title %}{{ post.name }}::{{ blog.name }}{% endblock title %}
{% block content %}
<h1>
  <a href="{% url community id=community.id %}">{{ community.name }}</a>&nbsp;&rarr;
  <a href="{% url blog community_id=community.id,id=blog.id%}">{{ blog.name }}</a>
</h1>
<div class="post">
  <h4>{{ post.name }}</h4>
  <span class="info">Пишет {{ post.author.username }}, {{ post.created_at|date:"d.m.Y" }} в {{ post.created_at|date:"H:i" }}</span>
  <div class="content">{{ post.content }}</div>
</div>
{% endblock content %}
{% block sidebar %}
<ul class="no-list-style">
  <li><a href="#">Написать в блог</a></li>
</ul>
{% endblock sidebar %}

