<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
{% load community_tags thumbnail %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="title" content="{% if current_page %}{{ current_page.title }}{% endif %}" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>
      {% block title %}
        {% if current_page %}
          {{ current_page.title }}
        {% endif %}
      {% endblock %} | {{ SITE.name }}
    </title>
    <link type="image/ico" rel="shortcut icon" href="{{ IMG_URL }}favicon.png" />
    <link href="{{ CSS_URL }}screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="{{ CSS_URL }}print.css" media="print" rel="stylesheet" type="text/css" />
    <!--[if IE 7]>
      <link href="{{ CSS_URL }}ie7.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!--[if IE 6]>
      <link href="{{ CSS_URL }}ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
      <script type="text/javascript" src="{{ JS_URL }}lib/IE7.js"></script>
    <![endif]-->
    <script type="text/javascript" src="{{ JS_URL }}lib/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="{{ JS_URL }}lib/swfobject.js"></script>
  </head>
  <body class="bp two-col">
    <div id="container">
      <div id="header">
        {% block header %}
          <div class="title">
          <h1>{{ SITE.name }}</h1>
          <ul class="navigation">
            <li>
              <a href="{% url index %}">Заглавная</a>
            </li>
            <li>
              <a href="{% url communities %}">Сообщества</a>
            </li>
            <li>
              <a href="{% url blogs %}">Блоги</a>
            </li>
          </ul>
          {% if not user.is_authenticated%}
          <ul class="actions">
            <li><a href="{% url sign_in %}">Войти</a></li></li>
            <li><a href="{% url sign_up %}">Регистрация</a></li>
          </ul>
          {% endif %}
          </div>
          <div class="userbox">
            {% if user.is_authenticated %}
              {% thumbnail user.get_profile.avatar 50x50 as avatar %}
              <span class="logout"><a href="{% url sign_out %}">Выйти</a></span>
              <div class="current-user">
                <a href="{% url profile id=user.id %}"><img src="{{ avatar }}" /></a>
                <a href="{% url profile id=user.id %}" class="undecorated bold dashboard">{{ user.get_profile.name }}</a>
                <a href="{% url edit_profile id=user.id %}" class="dashboard">Настройки</a>
              </div>
            {% endif %}
          </div>
          {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
              {% endfor %}
          </ul>
          {% endif %}
        {% endblock header%}
      </div>
      <div id="content">
        {% block content %}<h1>Тут должно быть содержимое страницы!</h1>
        <p class="serif">Даём вам честное пионерское, что на этой странице когда-нибудь появится вменяемое содержимое, а пока что, за неимением лучшего, &mdash; наслаждайтесь этим незамысловатым текстом.</p>{% endblock content %}
      </div>
      <div id="sidebar">
        {% block sidebar %}
          {% if user.is_authenticated %}
            <h4>Мои сообщества:</h4>
            {% communities_side_list %}
          {% else %}

          {% endif %}
        {% endblock sidebar %}
      </div>
      <div id="footer">
        {% block footer%}{% endblock %}
      </div>
    </div>
  </body>
</html>

