<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
{% load community_tags thumbnail %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="title" content="{% if current_page %}{{ current_page.title }}{% endif %}" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>
      {% block title %}
        {% if current_page %}
          {{ current_page.title }}
        {% endif %}
      {% endblock %} | {{ SITE.name }}
    </title>
    <link type="image/ico" rel="shortcut icon" href="{{ IMG_URL }}favicon.png" />
    <link href="{{ CSS_URL }}screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="{{ CSS_URL }}print.css" media="print" rel="stylesheet" type="text/css" />
    <!--[if IE 6]>
      <link href="{{ CSS_URL }}ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
      <script type="text/javascript" src="{{ JS_URL }}lib/IE7.js"></script>
    <![endif]-->
    <script type="text/javascript" src="{{ JS_URL }}lib/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="{{ JS_URL }}lib/swfobject.js"></script>
  </head>
  <body class="bp two-col">
    <div id="container">
      <div id="header">
        {% block header %}
          <h1><a href="{% url index %}">{{ SITE.name }}</a></h1>

          <ul class="actions">
            {% if user.is_authenticated%}
            <li><a href="{% url profile id=user.id %}">Профиль</a></li>
            <li><a href="{% url sign_out %}">Выход</a></li>
            {% else %}
            <li><a href="{% url sign_in %}">Войти</a></li></li>
            <li><a href="{% url sign_up %}">Регистрация</a></li>
            {% endif %}
          </ul>
        {% endblock header%}
      </div>
        <div id="sidebar">
          {% block sidebar %}
            {% if user.is_authenticated %}
              <a href="{% url sign_out %}">Выйти</a>
              <div class="current-user">
              {% thumbnail user.get_profile.avatar "50x50" as avatar %}
                <a href="{% url profile id=user.id %}"><img src="{{ avatar.url }}" /></a>
              {% empty %}
                <img src="{{ IMG_URL }}av_empty.png" alt="{{ owner.get_profile.name }}" width="48" height="48"/>
              {% endthumbnail %}
                <a href="{% url profile id=user.id %}">{{ user.get_profile.name }}</a>
              </div>
              <div class="navigation">
                <ul>
                  <li>
                    <a href="#">Сообщения</a>
                    <ul>
                      <li><a href="#">Входящие</a></li>
                      <li><a href="#">Написать</a></li>
                      <li><a href="#">История переписки</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Совпадения</a>
                  </li>
                  <li>
                    <a href="#">Связи</a>
                  </li>
                  <li>
                    <a href="#">Достижения</a>
                  </li>
                </ul>
              </div>
            {% else %}
                <h2>Вход на сайт</h2>
                <form method="post" action="{% url sign_in %}" class="login">
                {% csrf_token %}
                <p>
                    <label for="username">Логин или e-mail:</label>
                    <input type="text" name="username" id="username" />
                    <label for="password">Пароль:</label>
                    <input type="text" name="password" id="password" />
                </p>
                <p>
                    <input type="submit" value="войти" class="submit"/>
                    <a href="{% url password_reset %}">забыли пароль?</a>
                </p>
                </form>
                <p>
                    Тут мы обязательно напишем какую-нибудь штуку, которая рассказывает о том, на сколько мы классные.
                </p>
                <p>
                    Круче и прикольнее нас просто нет никого в этой вселенной. И это факт!
                </p>
            {% endif %}
          {% endblock sidebar %}
        </div>
      <div id="content">
        {% block content %}<h1>Тут должно быть содержимое страницы!</h1>
        <p class="serif">Даём вам честное пионерское, что на этой странице когда-нибудь появится вменяемое содержимое, а пока что, за неимением лучшего, &mdash; наслаждайтесь этим незамысловатым текстом.</p>{% endblock content %}
      </div>
      <div id="footer">
        {% block footer%}{% endblock %}
      </div>
    </div>
  </body>
</html>

