{% extends "layout.html" %}
{% load thumbnail %}
{% block title %}Наши разнообразные сообщества:{% endblock title %}
{% block content %}
  <ul class="communities">
  {% for community in communities %}
    <li>
      <a href="{% url community id=community.id %}" title={{ community.name }}>
      {% if community.picture %}
        {% thumbnail community.picture 50x50 as icon %}
        <img src="{{ icon }}" alt="{{ community.name }}">
      {% endif %}
      </a>
      <h3>
        <a href="{% url community id=community.id %}">{{ community.name }}</a>
      </h3>
      <span class="description">{{ community.description }}</span>
    </li>
  {% empty %}
    </li>Сообществ нет, их еще предстоит <a href="{% url new_community %}">создать</a></li>
  {% endfor %}
  </ul>
{% endblock content %}
{% block sidebar %}
<ul class="no-list-style">
  {% if user.is_authenticated %}
  <li><a href="{% url new_community %}">Создать сообщество</a></li>
  {% endif %}
</ul>
{% endblock sidebar %}

