{% extends "layout.html" %}
{% block title %}Сообщество {{ community.name }}{% endblock title %}
{% block content %}
<h2>{{ community.name }}</h2>
<div class="description">{{ community.description }}</div>
<ul class="blog-list no-list-style">
  {% for blog in community.blogs.all %}
  <li>
    <h4><a href="{% url blog id=blog.id %}">{{ blog.name }}</a></h4>
    <div class="description">{{ blog.description }}</div>
  </li>
  {% empty %}
  <li>
    Какая жалость что здесь еще нет ни одного блога. Может быть вы <a href="{% url new_blog community_id=community.id %}">создадите</a> парочку?
  </li>
  {% endfor %}
</ul>
{% endblock content %}
{% block sidebar %}
<ul class="no-list-style">
  {% if user.is_authenticated %}
  <li><a href="{% url new_blog community_id=community.id %}">Создать блог?</a></li>
  {% endif %}
</ul>
{% endblock sidebar%}

